<p id="notice"><%= notice %></p>

<div class="flex flex-col w-full max-w-screen-xl">
  <div class="flex items-center flex-none h-16">
    <div class="flex items-center flex-1 text-gray-700">
      <%= link_to page_monitors_path, class: 'hover:text-blue-700' do %>
        <svg class="inline-block w-8 h-8" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
      <% end %>
      <h1 class="inline-block text-2xl font-semibold">
        New Page Monitor
      </h1>
    </div>
  </div>
  <div class="flex-1">
    <%= render 'form', page_monitor: @page_monitor %>
  </div>
</div>
